<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Homework-less-first-step</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="Header">
    <div class="Header-block">
      <div class="Header-blockItems"></div>
      <div class="Header-blockItems"></div>
      <div class="Header-blockItems"></div>
      <div class="Header-blockItems"></div>
      <div class="Header-blockItems"></div>
      <div class="Header-blockItems"></div>
      <div class="Header-blockItems"></div>
      <div class="Header-blockItems"></div>
      <div class="Header-blockItems"></div>
      <div class="Header-blockItems"></div>
    </div>
  </div>

  <div class="Main">
    <section class="Main-section">
      <div class="Main-sectionItems Main-sectionItems--width35">
        <div class="Main-fotoBlock"></div>
        <div class="Main-textArea">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet nec elit vel facilisis. Praesent eget interdum eros. Donec eget ligula magna. Pellentesque at turpis rutrum, consectetur orci sed, rutrum eros. Nam ornare volutpat accumsan. Nunc purus tortor, vehicula quis orci porttitor, dapibus volutpat leo. Nullam scelerisque eros at luctus fringilla.</p>
        </div>
      </div>
      <div class="Main-sectionItems Main-sectionItems--width55">
        <div class="Main-fotoBlock Main-fotoBlock--order2"></div>
        <div class="Main-textArea Main-textArea--order1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet nec elit vel facilisis. Praesent eget interdum eros. Donec eget ligula magna. Pellentesque at turpis rutrum, consectetur orci sed, rutrum eros. Nam ornare volutpat accumsan. Nunc purus tortor, vehicula quis orci porttitor, dapibus volutpat leo. Nullam scelerisque eros at luctus fringilla.</p>
        </div>
      </div>
      <div class="Main-sectionItems Main-sectionItems--width35">
        <div class="Main-fotoBlock"></div>
        <div class="Main-textArea">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet nec elit vel facilisis. Praesent eget interdum eros. Donec eget ligula magna. Pellentesque at turpis rutrum, consectetur orci sed, rutrum eros. Nam ornare volutpat accumsan. Nunc purus tortor, vehicula quis orci porttitor, dapibus volutpat leo. Nullam scelerisque eros at luctus fringilla.</p>
        </div>
      </div>
      <div class="Main-sectionItems Main-sectionItems--width55">
        <div class="Main-fotoBlock Main-fotoBlock--order2"></div>
        <div class="Main-textArea Main-textArea--order1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet nec elit vel facilisis. Praesent eget interdum eros. Donec eget ligula magna. Pellentesque at turpis rutrum, consectetur orci sed, rutrum eros. Nam ornare volutpat accumsan. Nunc purus tortor, vehicula quis orci porttitor, dapibus volutpat leo. Nullam scelerisque eros at luctus fringilla.</p>
        </div>
      </div>
    </section>
    
    <section class="Main-section">
      <div class="Main-sectionItems Main-sectionItems--second">
        <div class="Main-fotoBlock widthfoto"></div>
        <div class="Main-textArea widthtext">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet nec elit vel facilisis. Praesent eget interdum eros. Donec eget ligula magna. Pellentesque at turpis rutrum, consectetur orci sed, rutrum eros. Nam ornare volutpat accumsan. Nunc purus tortor, vehicula quis orci porttitor, dapibus volutpat leo. Nullam scelerisque eros at luctus fringilla.</p>
        </div>
      </div>
      <div class="Main-sectionItems Main-sectionItems--second">
        <div class="Main-fotoBlock widthfoto fotoreverse"></div>
        <div class="Main-textArea widthtext textreverse">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet nec elit vel facilisis. Praesent eget interdum eros. Donec eget ligula magna. Pellentesque at turpis rutrum, consectetur orci sed, rutrum eros. Nam ornare volutpat accumsan. Nunc purus tortor, vehicula quis orci porttitor, dapibus volutpat leo. Nullam scelerisque eros at luctus fringilla.</p>
        </div>
      </div>
    </section>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="js/common.min.js"></script>
</body>
</html>